.ordersInfos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;    
    padding: 10px;
    border: 2px solid gray;    
}
.infosorders{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}
.true{
    color: greenyellow;
}
.false{
    color: red;
}
.accImg{
    width: 10%
}
.serImg{
    width: 25%;
}
.resultss{
    color: blue;
   font-family: fantasy;
}
.disc{
    color: black; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
}
.MoreDetailsBox{
border-radius: 10%;
}