.employeeImg{
    width: 100%;
    padding: 5%;
}
.employeeInfo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
}

.ordersInfo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 
}
.ordersCardEmployees{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.orderStatusPending{
    color: red;
}
.orderStatusAccepted{
    color: greenyellow;
}
.addEmployeeBtn{
    height: 40px !important;
    border: 2px solid blue;
}
.addEmployeeBtn:hover{
    background-color: blue;
    transition: 0.5s ease;
}