.deleteOrder123{
    background-color: red !important
}
.accessoryyyImg{
    width: 40% !important
}
.cardCart{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.liii{
    margin-left: 10px;
}