.adminhomepage{
    display: grid;
    grid-template-columns: 1fr 6fr;
}
.adminleftbar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    position: sticky;
}
.adminbuttons{
    height: 75px;
    margin: 0 auto;
    /* margin: 10px; */
    background-color: greenyellow
}
.adminrightbar{
padding: 10px;
}
